body {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.nav-button div {
    width: 45px;
    height: 45px;
    border: 1px solid #1B1B1B1A;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    width: 124px;
    height: 45px;
    border-radius: 99px;
    background-color: white;
    border: 1px solid #1B1B1B1A;

}