body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ececec;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.nav-button div {
    width: 45px;
    height: 45px;
    border: 1px solid #1B1B1B1A;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-button div:hover,
.btn:hover {
    border: 1px solid #7714ea;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    width: 124px;
    height: 45px;
    border-radius: 99px;
    background-color: white;
    border: 1px solid #1B1B1B1A;
    cursor: pointer;

}

/* 2nd section */

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;

}

.banner-title {
    flex: 1;
}

.banner-title h2 {
    font-size: 48px;
    font-weight: 800;
    color: #0F0E0E;
}

.banner-title p {
    font-size: 18px;
    font-weight: 500;
    color: #0F0E0E;
}

.banner-img {
    width: 409px;
    height: 457px;
    display: flex;
    justify-content: center;
    flex: 1;
}

.banner-buttons {
    display: flex;
    align-items: center;
    gap: 30px;

}

.banner-btn {
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #693AF8;
    padding: 16px 32px;
    border-radius: 99px;
    cursor: pointer;
}

.product-btn {
    font-size: 18px;
    font-weight: 600;
    color: #0F0E0E;
    background-color: white;
    padding: 16px 32px;
    border-radius: 99px;
    cursor: pointer;
    border: 1px solid #0F0E0E1A;
}

/* 3rd section */


.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card img,
.trendy-product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.trendy-product-card {
    height: 350px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    padding: 32px;
    background-color: #f8c3f16b;

}

.trendy-product-card h2 {
    font-size: 28px;
    font-weight: 800;
    color: #0F0E0E;
    text-align: center;
}

.product-card-button {

    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #693AF8;
    padding: 16px 32px;
    border-radius: 99px;
    cursor: pointer;
    border: 1px solid #0F0E0E1A;
    width: 100%;
}

.product-card {
    height: 350px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    padding: 32px;
    background-color: #f5e4e0;

}

.product-card h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.product-prics {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
}

.product-prics p {
    font-size: 28px;
    font-weight: 800;

}

.product-prics del {
    font-size: 20px;
    font-weight: 500;
    color: gray;
}

/* 4th section */
.category-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;


}

.category-card {
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    background-color: white;
    padding: 10px;


}

.category-card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #0F0E0E;
    text-align: center;

}

.category-card img {
    width: 100%;
    height: 100px;
    object-fit: contain;


}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.category h2 {
    font-size: 32px;
    font-weight: 800;
    color: #0F0E0E;
}

.category-btn {

    font-size: 18px;
    font-weight: 600;
    color: #0F0E0E;
    padding: 17px 32px;
    border-radius: 99px;
    cursor: pointer;
    border: 1px solid #0F0E0E1A;
    width: fit-content;
    height: fit-content;

}

.category-btn:hover {
    border: 1px solid #693af8;
}

/* 5th section */

.featureds{
    background-color: #f7f7f7 ;
    margin: 20px 0;
    padding: 20px;
}
.featured h2{
    font-size: 32px;
    font-weight: 800;
    color: #0F0E0E;
}
.featured{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
    margin: 0 20px; 
}

.featured-btn{
    font-size: 18px;
    font-weight: 600;
    color: #0F0E0E;
    padding: 17px 32px;
    border-radius: 99px;
    cursor: pointer;
    border: 1px solid #0F0E0E1A;
    width: fit-content;
    height: fit-content; 
}
.featured-btn:hover{
    background-color: #e35515;
}

.featured-products-cards {
    display: flex;
    gap: 30px;
    
   
}

.featured-product-card {
    flex: 1;
    border-radius: 24px;
width: 100px;
    height: 400px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    padding: 32px;
    background-color: white;
    
}

.featured-product-card-img img {
    border-radius: 16px;
    background-color: #0F0E0E0D;
    width: 100%;
    object-fit: contain;
}

.featured-product-card h2 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
}

.featured-product-card-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-product-card-btn{
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #0F0E0E;
    border: 1px solid #0F0E0E1A;
    padding: 12px 30px;
    border-radius: 99px;
    cursor: pointer;
}
.featured-product-card-btn:hover{
border: 1px solid aquamarine;
}

.featured-product-card-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-product-card-button div{
    
    width: 45px;
    height: 45px;
    border: 1px solid #1B1B1B1A;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.featured-product-card-button div:hover{
    border: 1px solid aquamarine;
}

.buy-now {
   
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 99px;
    cursor: pointer;
    border: 1px solid  #693af8;
    width: 100%;
    margin-top: 10px;
   
}

.buy-now:hover{
    background-color: #693af8;
    color: #0F0E0E;
}
.featured-product-card-price p span{
font-size: 16px;
font-weight: 700;
color: #0F0E0EB2;
}

/* 6th section */
.time{
    display: flex;
    align-items: center;
    gap: 20px;

}
.buttons{
flex: 1;
display: flex;
align-items: center;
justify-content: space-between ;

}

.flash-deal-button {
    border: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #0F0E0E1A;
    padding: 6px 24px;
    border-radius: 99px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;

}
.porend{
    font-size: 24px;
    font-weight: 700;
    color: #0F0E0E80;
    background-color: white;
}
.time h2{
    font-size: 32px;
    font-weight: 800;
    color: #0F0E0E;
}

.deal-button{
    
    border: none;
    font-size: 14px;
    font-weight: 400;
   border: 1px solid red;
    padding: 6px 24px;
    border-radius: 99px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;

}
.deal-button .porend {
    color: red;

}
.deal-button{
    color: red;
}
.flash-deal-btn{
    font-size: 18px;
    font-weight: 600;
    color: #0F0E0E;
    border: 1px solid #0F0E0E1A;
    padding: 17px 30px;
    border-radius: 99px;
    cursor: pointer;
    background-color: white;

}





/* responsive design */
@media screen and (max-width:600px) {
    .banner-section {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .banner-img img {
        width: 90%;
    }

    .banner-main-section {
        margin: 16px;
    }

    .banner-title h2 {
        font-size: 32px;
    }

    .banner-btn {
        padding: 20px;
    }

    .product-btn {
        padding: 20px;
    }

    .banner-buttons {
        gap: 15px;
    }

    .product-cards {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 16px;
    }

    .category-cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 16px;
    }

    .category {
        margin: 0 16px;
    }


.featured-products-cards{
    flex-direction: column;
}
.featured-product-card{
   width: 75%;
   margin: 0 auto;
    
}
.featured-product-card-img img{
    width: 90%;

}

.featured{
margin: 0 auto;  
}

.featured h2{
  font-size: 24px; 

}
.featured-btn{
 padding: 10px 10px;
  
  
}
}
